# These variables must not change
ENV=development
MIGRATIONS_DIR=dbutils/migrations

# These variables can be updated
PGUSER=jorge_test
PGPASSWORD=jorge_test
PGHOST=localhost
PGPORT=5432
DEVELOPMENT_DATABASE=bookstore_golang_postgres_development
TEST_DATABASE=bookstore_golang_postgres_test
JWT_SECRET_KEY=Spiii2YTFSJ4eLbHnSawroHidpAqBRau
