ENV=development
PGUSER=jorge_test
PGPASSWORD=jorge_test
PGHOST=localhost
PGPORT=5432
DEVELOPMENT_DATABASE=bookstore_golang_postgres_development
TEST_DATABASE=bookstore_golang_postgres_test
MIGRATIONS_DIR=dbutils/migrations